@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

hr{
    height: 15px;
    margin: 20px 0 20px 0;
    background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 2px,
        #ddd 2px,
        #ddd 4px
      );
      border: 0px;
    }

* {
    color: black;
    font-family: 'Oswald', sans-serif;
    max-width: 1000px;
    margin: auto;
    line-height: 26px;
}

.heroImg {
    width: 1000px;
    padding-top: 30px;
    height: 650px;
}

.p1 {
    color: #231f30;
    font-family: 'Oswald', sans-serif;
    padding-top: 60px;
    padding-bottom: 7px;
    font-size: 50px;
}

.underP1 {
    padding-top: 0;
    font-style: monospace;
    font-size: 17px;
    color: #525653;
    word-spacing: 2px;
    padding-top: 5px;
    letter-spacing: 1px;
}

.pp  {
   color:#525653;
   font-size: 21px;
   text-indent: 30px;
    padding: 20px 0 20px 0;
    font-family:'Times New Roman', Times, serif;
    line-height: 25px;
    word-spacing: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
main p {
   color:rgb(58, 29, 29);
   font-size: 12px;
   text-indent: 30px;
    padding: 50px 0 20px 0;
    margin-top: 7px;
    font-family: 'Pangolin', cursive;
    word-spacing: 2px;
}

.X{
    color:rgb(58, 29, 29);
    font-size: 12px;
    text-indent: 30px;
     padding: 50px 0 20px 0;
     margin-top: 7px;
     font-family: 'Pangolin', cursive;
     word-spacing: 2px;
     font-size:21px;
}

.logo {
    padding-top: 20px;
    padding-left: 0;
}

h2 {
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    color: #231f30;
    padding-top: 30px;
}

h3 {
    color: #525653
}

.p2 {
    color:#525653;
    font-size: 21px;
    text-indent: 30px;
     padding: 10px 0 20px 0;
     font-family:'Times New Roman', Times, serif;
     line-height: 5px;
     word-spacing: 2px;}

.navigation{
    float: left;
}

.navigation .img1{
    float: left;
}

.img2 {
    height: 5%;
    float: right;
}

img {
    width: 25px;
}

.dot{
    width: 5px;
}

.underNav {
    padding-top: 30px;
}



.img1 {
    padding-top: 20px;
    width: 6%;
    float: left;
    padding-right: 7px;
}

.img2 {
    padding-top: 30px;
    margin-left: 0;
    margin-right: 0;
    padding: 20 0 20 0;
    
}

.underDelec {
    font-size: 12px;
    word-spacing: 4px;
    color: #525653;
    padding-left: 75px;
    padding-top: 3px;
}

.steps {
    position: relative;
    text-align: center;
}

.background {
    opacity: 0.5;
    width: 1000px;
    height: 400px;
}

.steps {
    background:  url(https://github.com/waleedafifi90/amman-201d17/blob/main/class-10/lab-a/lab-assets/list-bg.png?raw=true);
    background-size: 1000px 400px;
    height: 400px;
    padding-top: 30px;
    opacity: 80%;
}

.ul1 {
    text-align: left;
    float: left;
    padding: 5px 0 5px 50px;
}

.ul2 {
    text-align: left;
    float: right;
    padding: 5px 0 5px 0;
    width: 500px;
}

.girl {
    width:100px;
    height:100px;
    float: left;
    margin-bottom: 20px;
}

.button {
    float: right;
    background-color: #bc7058;
    color: white;
    padding: 18px 45px 18px 45px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-style: none;
    margin-top: 20px;
}

footer {
    padding-top: 50px;
    clear: both;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #525653;
    font-size: 15px;
}

main {
    clear: both;
}

.p1p2 {
    color:#525653;
    font-size: 30px;
    text-indent: 30px;
     padding: 10px 0 10px 0;
     font-family:'Times New Roman', Times, serif;
     word-spacing: 2px;
     font-weight: bold;
} 

.separador {
    display: table;
    width: 100%;
  }
  .s-left,
  .s-right {
    display: table-cell;
    width: 50%;
  }
  .line{
    border-bottom:1px solid #ddd;
    margin-bottom:20px;
  }
  .separador img {
    margin: auto;
    display: block;
  }
  